# .github/workflows/publish.yml
name: Publish Crate

on:
  push:
    tags:
      - "v*.*.*" # Triggers on version tags like v1.0.0

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          override: true
      - name: Build
        run: cargo build --release
      - name: Run Tests
        run: cargo test --release
      - name: Publish to Crates.io
        run: cargo publish --token ${{ secrets.CRATES_TOKEN }}
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
